@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
html { 
    scroll-behavior: smooth; 
} 
body{
    background-color: black;
    padding: 0;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
footer {
    grid-area: ftr;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 5px;
}
a:active {
    color: white;
}
.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 200px 500px 500px 500px 50px;
    grid-template-areas: 
    "ban"
    "nav"
    "wea"
    "ent"
    "his"
    "ftr";
}
.section, .navigation {
    background-color: #424242;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.banner{
    grid-area: ban;
    background-image: url("https://source.unsplash.com/1600x900/?sun");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(68, 62, 62, 0.7) !important;
    background-blend-mode: color;
    background-size: cover;
    font-size: 1.2rem;
}
.navigation{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.weather{
    grid-area: wea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.entry{
    grid-area: ent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history{
    grid-area: his;
}
#check-weather {
    background-color: #e9e9e9;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 7px;
}
#city-description {
    text-transform: capitalize;
}
@media(min-width:900px) {
    .container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows:300px 500px 500px 50px;
        grid-template-areas: 
        "ban ban ban ban ban nav"
        "wea wea ent ent ent nav"
        "his his his his his nav"
        "ftr ftr ftr ftr ftr ftr";
    }
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
        height: 150px;
    }
}